* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:visited {
  color: inherit;
}

body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  background-color: #4ce74c;
  height: 100vh;
  width: 100vw;
}
